body{
  background-color: rgb(249, 244, 250);
   margin: 0px;
}

.Navbar{
   margin-top: 20px;
      display: flex;
      justify-content: flex-start;
     margin-bottom: 50px;
      color: rgb(242, 245, 247);
      text-align: center;
      font-size: 20px;
      height: 90px;
      list-style-type: none;
      background-image: linear-gradient(to right,rgb(233, 1, 98) , rgba(87, 3, 112, 0.918));
     font-weight: 700;
      padding: 0px;
      overflow: hidden;
   justify-content: center;
   border-radius: 20px;
   top: 0;
   width: 100%;
  }
 
  .home{
    margin-top: 5px;
  }
  .box3{
    margin-top: 5px;
  }
      .box3:hover{
        background-color: rgb(98, 103, 107);}
    .home:hover{
        background-color: rgb(98, 103, 107);}
       
          
       
            
          
          
          .ali {
            display: block;
            color: white;
            text-align: center;
           padding: 10px;
            text-decoration: none;
            font-family: 'Cairo';
        
          }
          .bookcoffee {
            display: flex;
            justify-content: space-between;
            position: relative;
            text-align: right;
            color: white;
            white-space: pre-wrap;
            margin-top: 0px;
            
          
          
          }
          .top-right {
            position: absolute;
            top: 1px;
            left: 650px;
            font-size: 25px;
            font-family:'Cairo';
            color: rgb(3, 70, 70);
            font-weight: bolder;
          }
              .about{
                display:flex;
                justify-content: center;
              
      background-image: linear-gradient(to right, rgb(236, 236, 236) , rgb(226, 222, 226));
                flex-direction: column;
                width: 700px;
                height: 400px;
                margin-top: 0px;
                margin-right: 5px;
                border-radius: 50px 5px 5px 30px;
             
              }      
        .blue{
          display:flex;
          justify-content: center;
          font-family: "Cairo";
          background: -webkit-linear-gradient(rgb(233, 1, 98) ,purple);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin: 10px;
          font-weight: bold;
        }
        .abouttext{
          display:flex;
          justify-content: center;
          font-size: 20px;
          font-family: "Cairo";
          color: rgb(41, 40, 40);
          font-weight: 700;
          white-space: pre-wrap;
          margin-right:20px ;
        }

      
        
        li a.active {
          background-color: #04AA6D;
          color: white;
        }
        
        li a:hover:not(.active) {
          background-color: #555;
          color: white;
        }
       
.footer{
  height: 150px;
  display: flex;
  background-color: rgb(231, 230, 230);
  border-top: 1px solid rgb(241, 237, 237);
  margin-top:150px ;
  font-size:17px ;
font-weight: bold;
  font-family: "Cairo";
  justify-content: space-between;

  
}
        .footer2{
          flex-direction: column;
          display: flex;
         
          justify-content: flex-start;
          align-items: flex-end;
        
         
         
          font-size:15px ;
          font-family: "Cairo";
        }
        .copyright{
          margin:10px;
        }
        .footer3{
          margin-top: 5px;
        }
       



.image{
  max-width: 100%;
  height: auto;
}











        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a, .dropbtn {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        
        li a:hover, .dropdown:hover .dropbtn {
          background-color: #555;
          color: white;
        }
        
        li.dropdown {
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        text-align: right;
        }
        
        .dropdown-content a {
          color: black;
        text-align: right;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }
        
        .dropdown-content a:hover {background-color: #f1f1f1;}
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
.dropdown{


 padding: 0px;
 
  font-family: 'Cairo';
  color: rgb(242, 245, 247);

  font-size: 20px;
}




/*history page*/
.abouthistory{
 

  display: inline-block;
}
.abouthistoryh{
  color: rgb(92, 22, 92);
  font-family: "Cairo";
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 40px;
}
.abouthistoryp{
  font-family: "Cairo";
  font-weight: bolder;
  margin: 8px;

  font-size: 20px;
  width: 700px;
display: flex;
}



.historycontent{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
}


.historybook1 h2{
  color: teal;
  font-family: "Cairo";
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 35px;
}
.historybook1{
  width: 800px;
  margin-right: 10px;
  margin-top: 50px;
}
.historybook1 p{
  font-family: "Cairo";
  font-weight: bolder;
  margin: 2px;

  font-size: 20px;
  width: 700px; 
}


.historybook1 h1{
  font-family: "Cairo";
  font-weight: light;
  margin: 20px;
  border-bottom: 2px solid teal;
  color: teal;
  width: 170px;


}
.history{
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-left:1px dotted teal;
}
 

.page{
  display: flex;
  justify-content: space-between;
}



.toc{
  margin-left: 10px;
  display: inline-block;
  margin-top: 200px;
  background-color: rgb(238, 234, 234);
  width: 400px;
  border-radius: 50px;
  border: 1px solid rgb(172, 171, 171);
  height: 500px;
  text-align: right;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  position:sticky;
  top: 100px;


}
.toc a{
  margin-right: 5px;
font-size: 20px;
  font-family: "Cairo";
  
}
.toc h1{
  font-size: 25px;
  color: purple;
  margin-right: 10px;
  font-family: "Cairo";
}

















.side{
  display: flex;
  flex-direction: column;
}



.topbtn{
  margin-top: 40px;
margin-right: 340px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 5px;
}
.topbtn:hover {
  background-color: #555;
  cursor:pointer;
}
















/*
* font-family: 'Roboto', sans-serif;
* font-weight: 100, 400, 400-italic, 700;
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F8F9FA;
  color: #222222;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
}

p {
  font-size: 1.125rem;
  color: #222222;
  margin: 0 0 15px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  color: #000000;
  font-size: 36px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 80px;
  }
}

h2 {
  color: #222222;
  font-size: 30px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 60px;
  }
}

h3 {
  color: #444444;
  font-size: 24px;
}

@media (min-width: 768px) {
  h3 {
    font-size: 50px;
  }
}

h4 {
  color: #555555;
  font-size: 22px;
}

@media (min-width: 768px) {
  h4 {
    font-size: 40px;
  }
}

h5 {
  color: #666666;
  font-size: 20px;
}

@media (min-width: 768px) {
  h5 {
    font-size: 35px;
  }
}

h6 {
  color: #777777;
  font-size: 18px;
}

@media (min-width: 768px) {
  h6 {
    font-size: 32px;
  }
}

section {
  padding: 90px 15px;
}

a.cta {
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  background-color: #f72d3d;
  border: 1px solid #d41c2a;
  border-radius: 25px;
  color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
  -webkit-box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 19px 0px;
          box-shadow: rgba(100, 100, 111, 0.8) 0px 7px 19px 0px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

a.cta:hover {
  background-color: #f75763;
  border: 1px solid #3b1215;
  color: #000000;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container img {
  padding: 0.25rem;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
}

.banner {
  background: -webkit-gradient(linear, left top, right top, from(rgba(241, 157, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url(../img/banner.jpg) no-repeat;
  background: linear-gradient(90deg, rgba(241, 157, 0, 0.8), rgba(0, 0, 0, 0.5)), url(https://parade.com/.image/t_share/MTkwNTgxMzY0NzA2ODQ1ODIx/whats-world-population-jpg.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

.banner h1 {
  color: rgba(255, 255, 255, 0.85);
  text-transform: uppercase;
  font-weight: 700;
}

.banner p {
  color: #FFFFFF;
  font-size: 1.375rem;
  letter-spacing: 1.5px;
  font-weight: 100;
  text-shadow: 2px 2px 7px #222222;
}

.first {
  background-color: #FFFFFF;
  background-image: linear-gradient(315deg, #a7a8a8 0%, #E9EBEC 74%);
}

.first .container {
  max-width: 800px;
}

.second {
  background-color: #fff8e6;
}

.second .container {
  display: block;
}

@media (min-width: 768px) {
  .second .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .second .container .left-img {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 768px) {
  .second .container .right-content {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

.second .container .right-content h2 {
  margin: 30px 0 0;
}

@media (min-width: 768px) {
  .second .container .right-content h2 {
    margin: 0;
  }
}

.third {
  background-color: #e6f5fc;
}

@media (min-width: 768px) {
  .third .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.third .container .left-content {
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
}

.third .container .right-img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.four {
  background-color: #c6fcb8;
}

.four .container {
  display: block;
}

@media (min-width: 768px) {
  .four .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.four .container .member {
  background-color: #c0c6fa;
  padding: 20px;
  margin: 0 0 60px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width: 768px) {
  .four .container .member {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .four .container .member h3 {
    font-size: 32px;
  }
}

.four .container .member .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.four .container .member .social a img {
  border: none;
  max-width: 40px;
}

.five {
  background-color: #fcde88;
}

.five .container {
  max-width: 700px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 7px 29px 0px;
}

.five .container .video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.five .container .video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.six .container {
  text-align: center;
  max-width: 800px;
}

footer {
  background-color: #222222;
  padding: 40px 15px;
}

footer .container {
  max-width: 600px;
}

footer p {
  color: #FFFFFF;
  margin: 0;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}


.quote {
  margin: 0;
  background-image: url('https://wallpapers.com/images/hd/sparkle-silver-glitter-background-1600-x-1067-ni2jkz8w418o5f0w.jpg');
  padding: 1em;
  border-radius: 1em;}